/* app.css */
input[type="text"] {
    width: 75%;
    margin-right: 10px;
}

ul {
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btn-sm {
    margin-left: 5px;
}
